#TitleText {
  position: absolute; /* 絕對定位 */
  top: 0%; /* 距離上方0% */
  background: linear-gradient(
    45deg,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 0%)
  ); /* 設置45度的線性漸變背景 */
  background-clip: text; /* 只顯示在文字內部的背景 */
  -webkit-background-clip: text; /* WebKit瀏覽器的背景裁剪 */
  color: transparent; /* 將文字設置為透明，讓背景可見 */
  padding: 0; /* 無內邊距 */
  margin: 0; /* 無外邊距 */
  text-shadow: -15px 5px #c7c7c7, 15px -5px #5e5e5e; /* 設置文字陰影效果 */
  -webkit-text-stroke: 5px #000000; /* 設置黑色的外描邊 */
}
.button {
  border-radius: 50px; /* 圓角邊框 */
  background: rgb(255, 255, 255); /* 白色背景 */
  font-size: 2vh;
}
#titleBOX {
  display: flex; /* 使用 Flexbox 進行佈局 */
  background-color: hsl(0, 0%, 100%); /* 設置背景顏色為白色 */
  width: 100%; /* 寬度為100% */
  right: 0%; /* 右邊距為0% */
  left: 0%; /* 左邊距為0% */
  overflow: hidden; /* 隱藏超出區域的內容 */
}
@media screen and (min-width: 768px) {
  #TitleText {
    font-size: 10vh;
  }
  #titleBOX {
    height: 28vh; /* 高度為視窗高度的28% */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  #slider {
    position: relative;

    top: -50%; /* 距離頂部的負位置，向上偏移 */
    transform: rotate(90deg) translate(-50%, -80%); /* 旋轉和位移轉換 */
    width: 50vh;
    height: 50vh;
    max-width: 700px; /* 最大寬度為700px */
    max-height: 700px; /* 最大高度為700px */
    border: 5px hsl(0, 0%, 50%) solid; /* 灰色的實線邊框 */
    border-radius: 50% 50% 50% 50%; /* 設置為圓形 */
    cursor: grab; /* 設置游標為抓手 */
  }
  #slider::after,
  #slider::before {
    content: ""; /* 在滑塊上方創建一個虛擬元素 */
    position: absolute; /* 絕對定位 */
    left: 50%; /* 水平置中 */
    transform: translateX(-50%); /* 水平居中 */
    width: 2em; /* 寬度為1em */
    height: 2em; /* 高度為1em */
    border-radius: 50%; /* 設置為圓形 */
  }

  #slider::after {
    top: 98.5%;
    background-color: #ffb700; /* 黃色背景 */
  }
  #slider::before {
    top: -2.5%;
    background-color: #6c6c6c; /* 灰色背景 */
  }
  #sun,
  #moon {
    position: absolute;
    top: 25%; /* 距離上方35% */
  }
  #sun {
    left: 40%; /* 水平位置為負的30%寬度 */
  }

  #moon {
    left: 60%; /* 水平位置為負的5%寬度 */
  }
  .cantSelect {
    user-select: none; /* 禁止使用者選取文字 */
    -webkit-user-select: none; /* WebKit瀏覽器的文字選取禁用 */
    -moz-user-select: none; /* Firefox瀏覽器的文字選取禁用 */
  }
  .content {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  #slider {
    display: none;
  }
  #TitleText {
    font-size: 10vw;
  }
  #titleBOX {
    height: 20vw; /* 高度為視窗高度的28% */
    justify-content: center;
    align-items: center;
  }
  .button {
    position: absolute; /* 相對定位 */
    font-size: 5vw;
  }
  #sun {
    top: 1%;
    left: 90%; /* 水平位置為負的30%寬度 */
  }

  #moon {
    top: 5%;
    left: 90%; /* 水平位置為負的5%寬度 */
  }
  .content {
    font-size: 3vh;
  }
}
.content {
  position: relative;
  overflow: hidden;
}
/* 箭頭符號*/
/* 隱藏初始 */
.content details summary {
  display: block;
}

/* 轉向 */
.content details summary span::before {
  content: ">";
  display: inline-block;
  transition: transform 200ms ease-out; /* 針對 transform 設置過渡效果 */
}

/* 當 details 展開時，箭頭旋轉 90 度 */
.content details[open] summary span::before {
  transform: rotate(90deg);
}

/* 展開動畫 */
.content > div {
  max-height: 0;
  transition: max-height 400ms ease-out;
}
.content details[open] + div {
  max-height: 800px;
  transition: max-height 400ms ease-out, border 0ms 400ms linear;
}
#cntBOX {
  top: 20vw; /* 距離頂部20%寬度 */
  left: 10%; /* 左邊距10% */
  right: 10%; /* 右邊距10% */
  background-color: hsl(0, 0%, 100%); /* 白色背景 */
  color: #000000; /* 黑色文字 */
  border-style: solid double; /* 雙線實線邊框 */
  border-width: 0.5vw; /* 邊框寬度為視窗寬度的0.5% */
}
